{% extends 'base.html' %} {% block content %}
<div>
  <div>
    <div class="post_title">{{ post.title }}</div>
    <div class="post_content">{{ post.content }}</div>
  </div>
  <a href="{% url 'home' %}">홈으로</a>

  {% if user.is_authenticated and post.author.pk == user.pk %}
  <a href="{% url 'edit' post.pk %}">수정하기</a>
  <a href="{% url 'delete' post.pk %}">삭제하기</a>
  <span class="like-count">좋아요 수 : {{ post.likes.count }} </span>

  {% endif %}
  <div class="comment-box">
    {% for comment in post.comments.all %}
    <li>{{ comment.content }}</li>
    {% if user.is_authenticated and comment.author.pk == user.pk %}
    <a onClick="deleteComment({{post.pk}}, {{comment.pk}})">댓글삭제</a>
    {% endif %} {% endfor %}
  </div>

  {% if user.is_authenticated %} {% comment %}
  <form method="POST">
    {% csrf_token %}
    <input type="text" name="content" placeholder="댓글을 입력하세요" />
    <button type="submit">댓글 쓰기</button>
  </form>
  {% endcomment %}

  <input
    type="text"
    class="input-comment"
    name="content"
    placeholder="댓글을 입력하세요"
  />

  <button class="button-comment">댓글 쓰기</button>

  <button class="like-button">좋아요</button>
  {% endif %}
</div>

<script>
  const likeButton = document.querySelector(".like-button");
  const likeCount = document.querySelector(".like-count");

  const handleLike = () => {
    fetch("/like", {
      method: "POST",
      body: JSON.stringify({
        post_pk: "{{ post.pk }}",
      }),
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        likeCount.innerHTML = `좋아요 ${data.like_count}개`;
      });
  };

  likeButton.addEventListener("click", handleLike);
</script>

{% endblock content %}
